version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    networks:
      - kafka-network
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka-broker:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka-broker
    networks:
      - kafka-network
    ports:
      - "9092:9092"
    depends_on: zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092, PLAINTEXT_INTERNAL://kafka-broker:29092
      KAFKA-OFFSETS-TOPIC-REPLICATION-FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

#Microservice Example
#  order-service:
#    build: project_path
#    container_name: order-service
#    depends_on:
#      - kafka-broker
#    environment:
#      MTGO_KAFKA_TOPIC: 'orders.created'
#      SPRING_KAFKA_BOOTSTRAP_SERVERS: 'kafka-broker:29092'

networks:
  kafka-network:

